.sweep-text-item {
  opacity: 0;
  position: relative;
  animation-fill-mode: forwards;
}


.sweep-text-now-playing {
  animation: sweepIn 1s 1s forwards;
}

.sweep-text-artist {
  animation: sweepIn 1s 1.1s forwards;
}

.sweep-text-artist-title {
  animation: sweepIn 1s 1.1s forwards;
}

.sweep-text-title {
  animation: sweepIn 1s 1.2s forwards;
}

.sweep-text-label {
  animation: sweepIn 1s 1.3s forwards;
}

@keyframes sweepIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}